* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.Game {
  padding: 4px;
  border: 4px solid white;
}

.Game.gameover {
  border-color: red;
}

.flex {
  display: flex;
}

.flex.columns {
  flex-direction: column;
}

.flex.rows {
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.just-centered {
  justify-content: center;
}

.flex.just-evenly {
  justify-content: space-evenly;
}

.flex.align-centered {
  align-items: center;
}

.flex > .grow-1 {
  flex-grow: 1;
}

.flex > .centered {
  align-self: center;
}

H2, H3 {
  margin-bottom: 0;
}

.GameID H1 {
  margin: 0;
  margin-bottom: 6px;
}

.Player.winning > H2 {
  background-color: gold;
}

.OtherPlayers {
  zoom: 75%;
}

.Showrooms {
  min-height: 142px;
}

.Showroom {
  border: 1px solid black;
  background-color: pink;
  margin: 8px;
  border-radius: 50%;
}

.Showroom.empty {
  background-color: gray;
  opacity: 0.1;
  cursor: not-allowed;
}

.Tile {
  border-style: outset;
}

.SlotTile {
  border-color: tan;
  border-style: ridge;
}

.PenaltyTile {
  background-color: white;
  border-color: cyan;
  border-style: outset;
}

.PenaltyTile > SPAN {
  font-weight: bold;
  font-size: 125%;
}

.Workshop {
  border-bottom: 1px solid silver;
}

.Wall .Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.Wall .Tile.highlight {
  border-color: red !important;
  border-style: solid !important;
}

.PlaceholderTile {
  opacity: 0.15;
}

.PlaceholderTile.Match {
  border-color: black !important;
  opacity: 0.5;
}

.PlaceholderTile.Pending {
  border-color: black !important;
  opacity: 0.4;
}

.PlaceholderTile.Completed {
  border-color: black !important;
  opacity: 0.75;
}

.PlayerFloorTiles .Tile {
  order: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayerFloorTiles .Tile:not(.SlotTile):not(.PenaltyTile) {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.PlayerFloorTiles .PenaltyTile {
  order: -1 !important;
}

.PlayerFloorTiles .SlotTile {
  opacity: 0.3;
}

.Score {
  zoom: 90%;
  margin: 4px;
  margin-left: 8px;
  border-left: 2px solid silver;
  padding-left: 8px;
}

.can-drop {
  cursor: pointer;
}

.can-drop .Tile:not(.PenaltyTile) {
  background-color: lightgoldenrodyellow;
}

.cannot-drop {
  cursor: not-allowed;
}

/*
.ActivePlayer .TileTable .cannot-drop .Tile:not(.PenaltyTile) {
  background-color: pink;
}
*/

.Message-1 {
  font-weight: bold;
}

.Message-2 {
  opacity: 0.8;
}

.Message-3 {
  opacity: 0.6;
}

.Message-4 {
  opacity: 0.4;
}

.Message-5 {
  opacity: 0.2;
}