* {
  box-sizing: border-box;
}

.App {
  display: flex;
}

H2, H3 {
  margin-bottom: 0;
}

.Game {
  display: flex;
  flex-grow: 1;
}

.CurrentPlayer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.OtherPlayers {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  zoom: 75%;
}

.Factory {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Showrooms {
  display: flex;
  justify-content: center;
  min-height: 142px;
}

.Showroom {
  display: flex;
  border: 1px solid black;
  background-color: pink;
  margin: 8px;
  border-radius: 50%;
}

.Showroom.empty {
  background-color: gray;
  opacity: 0.1;
  cursor: not-allowed;
}

.Showroom > .Tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Surplus {
  display: flex;
  justify-content: center;
}

.Surplus > SPAN {
  align-self: center;
}

.RemainingTiles,
.DiscardedTiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  zoom: 50%;
}

.Tile {
  border-style: outset;
}

.SlotTile {
  border-color: tan;
  border-style: ridge;
}

.PenaltyTile {
  display: flex;
  justify-content: center;
  background-color: white;
  border-color: cyan;
  border-style: outset;
}

.PenaltyTile > SPAN {
  align-self: center;
  font-weight: bold;
  font-size: 125%;
}

.Player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Hand {
  display: flex;
}

.Hand > B {
  align-self: center;
}

.Hand > DIV {
  display: flex;
}

.Workshop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid silver;
}

.Workshop > DIV {
  display: flex;
  justify-content: center;
}

.TileTable, .Wall, .Arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TileTable > B, .Wall > B, .Arrows > B {
  align-self: center;
}

.Wall .Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.PlaceholderTile {
  opacity: 0.15;
}

.PlaceholderTile.Match {
  border-color: black !important;
  opacity: 0.33;
}

.PlaceholderTile.Pending {
  border-color: black !important;
  opacity: 0.45;
}

.PlaceholderTile.Completed {
  border-color: black !important;
  opacity: 0.75;
}

.FloorScoreWrapper {
  display: flex;
  justify-content: center;
}

.PlayerFloor {
  display: flex;
}

.PlayerFloor > B {
  align-self: center;
}

.PlayerFloorTiles {
  display: flex;
}

.PlayerFloorTiles .Tile {
  order: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayerFloorTiles .Tile:not(.SlotTile):not(.PenaltyTile) {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.PlayerFloorTiles .PenaltyTile {
  order: -1 !important;
}


.PlayerFloorTiles .SlotTile {
  opacity: 0.3;
}

.Score {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Score > B {
  align-self: center;
}

.ScoreValue {
  align-self: center;
}

.can-drop {
  cursor: pointer;
}

.can-drop .Tile:not(.PenaltyTile) {
  background-color: lightgoldenrodyellow;
}

.cannot-drop {
  cursor: not-allowed;
}

/*
.ActivePlayer .TileTable .cannot-drop .Tile:not(.PenaltyTile) {
  background-color: pink;
}
*/